<div class="upper">
  <div class="content">
    <!--<img src="../assets/images/NgTransparent.png" width="60px" class="logo">-->
    <img class="logo" src="../assets/images/NgTransparent.png">

  </div>
</div>

<div class="cont1">
  <div class="content1">
    <div class="intro">
      <h2 class="upperTitle">Método digital atual</h2>
      <h1 class="maintitle">Nós ajudamos QUAQUER TIPO de negócio a escalar suas operações por meio de anúncios pagos.</h1>
      <p class="inter"><strong>Pare</strong> de jogar dinheiro fora com anúncios ruins e ineficazes.</p>
      <p class="inter">Tá na hora de <strong>fazer seus investimentos trazerem resultados</strong> e escalar seu negócio.</p>

        <!--button -------------------------------------------------------------->
      <div class="btnph">
        <button (click)="scrollByPixels(2200)" class="button3">
          <div class="svg-wrapper-1">
              <div class="svg-wrapper">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  width="24"
                  height="24"
                >
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path
                    fill="currentColor"
                    d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                  ></path>
                </svg>
              </div>
            </div>
            <span>Fale Conosco Hoje</span>
        </button>
      </div>
        <!--/buton---------------------------------------------------------------->

    </div>
    <div class="img1">
      <img src="../assets/images/person.png" class="queda">

        <div id="apps" class="ig"><i class="gg-instagram"></i></div>
        <div id="apps" class="google"><img src="../assets/images/google.png" width="50px"></div>
        <div id="apps" class="youtube"><i class="gg-youtube"></i></div>
        <div id="apps" class="linkedin"><img src="../assets/images/linkedin.png" width="50px"></div>
        <div id="apps" class="shopify"><img src="../assets/images/shopify.png" width="50px"></div>
        <div id="apps" class="facebook"><img src="../assets/images/facebook.png" width="50px"></div>

    </div>
  </div>
</div>
<div class="waves">
  <div #target class="custom-shape-divider-bottom-1712439413">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>
</div>
