@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 20px;
}

.upper{
  display: flex;
  height: 60px;
  background: #000;
  width: 100%;
  justify-content: center;
  color: white;
}
.content{
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}
.logo{
  position: relative;
  margin-left: 10px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.cont1{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 700px;
  background-color: #06050F;
  color: white;
}
.content1{
  display: flex;
  width: 1200px;
  height: 500px;
}
.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  width: 600px;
}

.maintitle{
  width: 600px;
  height: 232px;
  margin: 0px;
  font-size: 40px;
}
.img1{
  display: flex;
  grid-column: 2;
  //background-color: purple;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 700px;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.cont2{
  display: flex;
  width: 100%;
  height: 600px;
  background-color: #0C0C0B;
  justify-content: center;
}
.content2{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  width: 1200px;
  height: 100%;
  padding-top: 20px;
}
.block1{
  grid-template: 1;
  border-radius: 20px;
  width: 90%;
  height: 86%;
  background: transparent;
  border: solid 1px white;
}

.writingBlock1{
  display: flex;
  grid-row: span 4;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
    .all{
      text-align: left;
        p{
          margin-top: 40px;
        }
    }
}

/////////////////////////////////////////
.cont3{
  width: 100%;
  height: 600px;
  background: #06050F;
}





///

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
.button {
  font-family: inherit;
  font-size: 20px;
  background: #a13e37;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  width: 315px;
  height: 52px;
}

.button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.button:hover svg {
  transform: translateX(1.9em) rotate(45deg);
}

.button:hover span {
  transform: translateX(50em);
}
////////////////////////////////////////////
.button3 {
  font-family: inherit;
  font-size: 20px;
  background: #a13e37;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  width: 315px;
  height: 52px;
  margin-top: 60px;
}

.button3 span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.button3 svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.button3:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.button3:hover svg {
  transform: translateX(5.8em) rotate(45deg);
}

.button3:hover span {
  transform: translateX(50em);
}


///
.button2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}

.button2:hover .svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button2::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  transition-duration: .3s;
  font-size: 0px;
}

.button2:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transform: translateY(-30px);
  transition-duration: 0.3s;
}
