<div class="main">

  <div class="upper">
    <div class="content">
      <!--<img src="/src/imgs/Ng_trasnparent.png" class="logo">-->
      <h1><strong>NG</strong>-mídia</h1>
    </div>
  </div>

  <div class="cont1">
    <div class="content1">
      <div class="intro">
        <h1 class="maintitle">Nós ajudamos qualquer tipo de negócio a escalar suas operações por meio de anúncios pagos.</h1><br>
        <p class="inter">hello saoidjaoijkasdikolpj</p>

          <!--button -------------------------------------------------------------->
          <button class="button">
            <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                  >
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path
                      fill="currentColor"
                      d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                    ></path>
                  </svg>
                </div>
              </div>
              <span>Falar com um especialista</span>
          </button>
          <!--/buton---------------------------------------------------------------->

      </div>
      <div class="img1">
        <img src="/src/assets/images/moneyimg.png">
      </div>
    </div>

  </div>

  <div class="cont2">
    <div class="content2">

      <div class="block1"></div>

      <div class="writingBlock1">
          <h1>Nosso método.</h1>
          <div class="all">
            <p>Aqui na NG midia, nós temos um método consolidado pra atender qualquer negócio compsoto por três fases. Teste, Remarketing e Escala.</p>
            <p>Esse método serve para preparar o marketing do seu negócio ao mesmo tempo em que coleta dados sobre púbicos e criativos para até que emfim chegar na escala, com uma opearção <strong>sofisticada</strong> ativa a todo momento e trazendo lucros para sua empresa.</p>
            <p>E não fica só por ai não! Mesmo durante a fase de escala, nós continuamos tentando novos dados atrás de sempre melhorar a fase atual.</p>
          </div>
          <button class="button3">
            <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                  >
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path
                      fill="currentColor"
                      d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                    ></path>
                  </svg>
                </div>
              </div>
              <span>Falar com um especialista</span>
          </button>
      </div>
    </div>
  </div>

  <div class="cont3">
    <button class="button2">
      <svg class="svgIcon" viewBox="0 0 384 512">
        <path
          d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"
        ></path>
      </svg>
    </button>
  </div>


</div>
